<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/dashboard">Dashboard</a>
            {{#unless logged_in}}
            <a href="/login">Login</a>
            {{/unless}}
            {{#if logged_in}}
            <a class="logoutBtn" href="">Logout</a>
            {{/if}}
        </nav>
        <h1>
            The Tech Blog
        </h1>
    </header>
    <main>

    {{{ body }}}
    
    </main>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>