<div>
    <h2>{{post.name}}</h2>
    <span>{{post.text}}</span><br>
    <span>Posted by {{post.user.name}} on {{post.createdAt}}</span><br>
</div>
<div>
    <label>Comment</label><br>
    <textarea>
        Enter comment here...
    </textarea>
    <button id="commentBtn">Submit</button>
</div>