<div>
    <h1>Create New Post</h1>
    <label>Title</label><br>
    <textarea>
        Title here...
    </textarea><br>
    <label>Content</label><br>
    <textarea>
        Post text here...
    </textarea><br>
    <button>Create</button>
</div>