<div class="card mt-4 mx-4">
    <h1 class="card-header">Create New Post</h1>
    <div class="mx-4">
        <label class="mt-2">Title</label><br>
        <textarea id="title" placeholder="Post Title Here"></textarea><br>
        <label>Content</label><br>
        <textarea class="mb-2" id="text" placeholder="Post Text Here"></textarea><br>
        <button class="button mb-4" id="createBtn">Create</button>
    </div>
</div>
<script src="/js/create.js"></script>