<div>
    <h1>Create New Post</h1>
    <label>Title</label><br>
    <textarea id="title">
        Title here...
    </textarea><br>
    <label>Content</label><br>
    <textarea id="text">
        Post text here...
    </textarea><br>
    <button id="createBtn">Create</button>
</div>
<script src="/js/create.js"></script>