<div>
    <h1>Create New Post</h1>
    <label>Title</label><br>
    <textarea id="title" placeholder="Post Title Here"></textarea><br>
    <label>Content</label><br>
    <textarea id="text" placeholder="Post Text Here"></textarea><br>
    <button id="createBtn">Create</button>
</div>
<script src="/js/create.js"></script>