{{#each posts as |post|}}
<a href="/edit/{{post.id}}">
    <div class="editPost" data-id="{{post.id}}">
        <div>{{post.name}}</div>
        <div>{{post.createdAt}}</div>
    </div>
</a>
{{/each}}
<a href="/create"><button id="newPostBtn">+ New Post</button></a>