<div>
    <h2>{{post.name}}</h2>
    <span>{{post.text}}</span><br>
    <span>Posted by {{post.user.name}} on {{post.createdAt}}</span><br>
</div>
<div>
    <label>Title</label><br>
    <textarea>
        Title here...
    </textarea><br>
    <label>Content</label><br>
    <textarea>
        Post text here...
    </textarea>
    <button>Submit</button>
</div>