<div class="card mt-4">
    <h1 class="card-header">Login</h1>
    <form class="mb-2 mt-2 mx-2" id="login">
        <label>Username: </label><br>
        <input id="username"><br>
        <label>Password: </label><br>
        <input id="password" type="password"><br>
    </form>
    <button class="loginBtn left-button mx-2">Log In</button><br>
    <button class="signupPage left-button mx-2 mb-4">Sign Up Instead</button>
</div>
<script src="/js/login.js"></script>