<div>
    <h1>Login</h1>
    <form id="login">
        <label>Username: </label><br>
        <input id="username"><br>
        <label>Password: </label><br>
        <input id="password"><br>
    </form>
    <button class="loginBtn">Log In!</button>
    <button class="signupPage">Sign Up Instead</button>
</div>
<script src="/js/login.js"></script>