<div>
    <h1>Sign Up</h1>
    <form id="login">
        <label>Username: </label><br>
        <input id="usernameSignup"><br>
        <label>Password: </label><br>
        <input id="passwordSignup"><br>
    </form>
    <button class="signupBtn">Sign Up!</button>
    <button id="loginPage">Login Instead</button>
</div>
<script src="/js/signup.js"></script>