<div>
    <h1>Sign Up</h1>
    <form id="login">
        <label>Username: </label><br>
        <input><br>
        <label>Password: </label><br>
        <input><br>
        <button id="signUpBtn">Sign Up!</button>
    </form>
    <button id="loginPage">Login Instead</button>
</div>