<div class="card mt-4">
    <h1 class="card-header">Sign Up</h1>
    <form class="mb-2 mt-2 mx-2" id="login">
        <label>Username: </label><br>
        <input id="usernameSignup"><br>
        <label>Password (Min. 8 Characters): </label><br>
        <input id="passwordSignup" type="password" minlength="8"><br>
    </form>
    <button class="signupBtn left-button mx-2">Sign Up</button><br>
    <button class="loginPage left-button mx-2 mb-4">Login Instead</button>
</div>
<script src="/js/signup.js"></script>